#AIRBNB NYC OPEN DATA EXPLORATORY ANALYSIS

The goal of this notebook is to explore the data found in "New York City Airbnb Open Data" dataset found at https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data. The dataset has approximately 49,000 rows and consists of individual Airbnb listings, their hosts, geographical location (coordinates, borough, and neighborhood), a "room type" classification, as well as information about reviews. While the dataset includes number of reviews and the most recent review as of the time the data was collected, actual ratings are absent. The dataset is from 2019.

The goal is to answer a few basic questions about the data:
1: Which boroughs and neighborhoods commanded the highest prices?
2: Which host was the most reviewed?
3: Which accomodation type was the most popular: "Entire home/apt", "Private room", or "Shared room?"

After this exploratory analysis is done, the data will also be visualized in Tableau.

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('AB_NYC_2019.csv') #importing the data with pandas

##Overview of the data
The next cell shows the first five rows of data, better illustrating what information is included.

In [5]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [6]:
data.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

##Outliers
As one can see above, there is quite some variance in the data. Rows with prices of 0 or above 9999 dollars will be removed so it does not impact the mean.

In [7]:
data=data[data['price']>0]
data=data[data['price']<9999]
data.price.describe() #It turns out the outliers did not impact the mean very much after all.

count    48878.000000
mean       151.546319
std        213.974393
min         10.000000
25%         69.000000
50%        106.000000
75%        175.000000
max       8500.000000
Name: price, dtype: float64

##Question 1: Boroughs, Neighborhoods, and Prices
The goal is to find out which boroughs and neighborhoods command the highest prices on Airbnb.

In [8]:
data.groupby('neighbourhood_group').price.mean()

neighbourhood_group
Bronx             87.577064
Brooklyn         123.947447
Manhattan        195.074344
Queens            97.769991
Staten Island    114.812332
Name: price, dtype: float64

Perhaps as expected, the borough of Manhattan has the highest average price for Airbnb listings. Now, let's drill down to the neighborhood level. The following cell allows the mean prices of each individual neighborhood to be seen.

In [9]:
pd.set_option('display.max_rows', None)
neighborhood_means=data.groupby(['neighbourhood_group','neighbourhood']).price.mean()
print(neighborhood_means)

neighbourhood_group  neighbourhood
Bronx                Allerton                       87.595238
                     Baychester                     75.428571
                     Belmont                        77.125000
                     Bronxdale                      57.105263
                     Castle Hill                    63.000000
                     City Island                   173.000000
                     Claremont Village              87.464286
                     Clason Point                  112.761905
                     Co-op City                     77.500000
                     Concourse                      86.180000
                     Concourse Village              73.781250
                     East Morrisania                94.444444
                     Eastchester                   141.692308
                     Edenwald                       82.000000
                     Fieldston                      75.083333
                     Fordham                        69.444444
                     Highbridge                     71.111111
                     Hunts Point                    50.500000
                     Kingsbridge                    77.928571
                     Longwood                       91.919355
                     Melrose                        83.300000
                     Morris Heights                 76.941176
                     Morris Park                    69.333333
                     Morrisania                     83.444444
                     Mott Haven                     88.916667
                     Mount Eden                     58.500000
                     Mount Hope                     77.500000
                     North Riverdale                79.900000
                     Norwood                        75.548387
                     Olinville                      64.000000
                     Parkchester                    69.076923
                     Pelham Bay                    105.000000
                     Pelham Gardens                 93.607143
                     Port Morris                    79.891304
                     Riverdale                     442.090909
                     Schuylerville                  69.230769
                     Soundview                      53.466667
                     Spuyten Duyvil                154.750000
                     Throgs Neck                    91.041667
                     Tremont                        51.545455
                     Unionport                     137.142857
                     University Heights             69.571429
                     Van Nest                      113.818182
                     Wakefield                      85.580000
                     West Farms                    122.000000
                     Westchester Square            122.200000
                     Williamsbridge                 96.750000
                     Woodlawn                       60.090909
Brooklyn             Bath Beach                     81.764706
                     Bay Ridge                     144.432624
                     Bedford-Stuyvesant            107.794340
                     Bensonhurst                    75.786667
                     Bergen Beach                  106.700000
                     Boerum Hill                   176.135593
                     Borough Park                   63.066176
                     Brighton Beach                131.933333
                     Brooklyn Heights              209.064935
                     Brownsville                    76.459016
                     Bushwick                       84.903737
                     Canarsie                      104.367347
                     Carroll Gardens               175.914163
                     Clinton Hill                  181.893357
                     Cobble Hill                   211.929293
                     Columbia St                   162.952381
                     Coney Island                  123.705882
                     Crown Heights                 112.480179
                     Cypress Hills                 128.903704
                     DUMBO                         196.305556
                     Downtown Brooklyn             150.349398
                     Dyker Heights                  93.416667
                     East Flatbush                 104.222000
                     East New York                  85.426606
                     Flatbush                       92.212560
                     Flatlands                     126.433735
                     Fort Greene                   151.374233
                     Fort Hamilton                  93.818182
                     Gowanus                       158.801619
                     Gravesend                      79.014706
                     Greenpoint                    136.097934
                     Kensington                     92.885714
                     Manhattan Beach               103.500000
                     Midwood                        80.339450
                     Mill Basin                    179.750000
                     Navy Yard                     151.642857
                     Park Slope                    176.312253
                     Prospect Heights              173.372549
                     Prospect-Lefferts Gardens     110.401869
                     Red Hook                      143.455696
                     Sea Gate                      487.857143
                     Sheepshead Bay                105.774390
                     South Slope                   146.725352
                     Sunset Park                   113.041026
                     Vinegar Hill                  187.176471
                     Williamsburg                  143.839500
                     Windsor Terrace               138.993631
Manhattan            Battery Park City             367.557143
                     Chelsea                       249.738544
                     Chinatown                     161.497283
                     Civic Center                  191.942308
                     East Harlem                   124.358423
                     East Village                  186.083108
                     Financial District            225.490591
                     Flatiron District             341.925000
                     Gramercy                      222.754438
                     Greenwich Village             263.405612
                     Harlem                        118.974041
                     Hell's Kitchen                204.794178
                     Inwood                         88.896825
                     Kips Bay                      202.408511
                     Little Italy                  222.066116
                     Lower East Side               164.722772
                     Marble Hill                    89.166667
                     Midtown                       282.719094
                     Morningside Heights           114.783237
                     Murray Hill                   221.415289
                     NoHo                          295.717949
                     Nolita                        230.138340
                     Roosevelt Island              113.259740
                     SoHo                          287.103352
                     Stuyvesant Town               169.108108
                     Theater District              248.013889
                     Tribeca                       490.638418
                     Two Bridges                   127.069444
                     Upper East Side               188.948276
                     Upper West Side               205.949239
                     Washington Heights             89.610679
                     West Village                  267.682292
Queens               Arverne                       171.779221
                     Astoria                       106.194661
                     Bay Terrace                   142.000000
                     Bayside                       157.948718
                     Bayswater                      87.470588
                     Belle Harbor                  171.500000
                     Bellerose                      99.357143
                     Breezy Point                  213.333333
                     Briarwood                     105.875000
                     Cambria Heights                81.730769
                     College Point                  88.000000
                     Corona                         59.171875
                     Ditmars Steinway               95.029126
                     Douglaston                     82.750000
                     East Elmhurst                  81.183784
                     Edgemere                       94.727273
                     Elmhurst                       80.459916
                     Far Rockaway                  165.862069
                     Flushing                       93.514085
                     Forest Hills                  121.625000
                     Fresh Meadows                  99.500000
                     Glendale                       90.796296
                     Hollis                         88.642857
                     Holliswood                    135.750000
                     Howard Beach                  115.400000
                     Jackson Heights                80.897849
                     Jamaica                        95.770563
                     Jamaica Estates               182.947368
                     Jamaica Hills                 132.125000
                     Kew Gardens                    88.375000
                     Kew Gardens Hills             112.307692
                     Laurelton                      95.333333
                     Little Neck                    75.200000
                     Long Island City              127.465549
                     Maspeth                        83.645455
                     Middle Village                109.580645
                     Neponsit                      274.666667
                     Ozone Park                     85.274194
                     Queens Village                 83.933333
                     Rego Park                      83.877358
                     Richmond Hill                  87.117021
                     Ridgewood                      77.184397
                     Rockaway Beach                132.178571
                     Rosedale                       76.694915
                     South Ozone Park               82.400000
                     Springfield Gardens            94.235294
                     St. Albans                    100.828947
                     Sunnyside                      84.865014
                     Whitestone                    107.545455
                     Woodhaven                      67.170455
                     Woodside                       85.097872
Staten Island        Arden Heights                  67.250000
                     Arrochar                      115.000000
                     Bay Terrace, Staten Island    102.500000
                     Bull's Head                    47.333333
                     Castleton Corners             139.750000
                     Clifton                        84.933333
                     Concord                        58.192308
                     Dongan Hills                   79.428571
                     Eltingville                   141.666667
                     Emerson Hill                   68.200000
                     Fort Wadsworth                800.000000
                     Graniteville                   68.666667
                     Grant City                     57.666667
                     Great Kills                   100.600000
                     Grymes Hill                   159.142857
                     Howland Hook                  100.000000
                     Huguenot                      118.333333
                     Lighthouse Hill               157.500000
                     Mariners Harbor                94.625000
                     Midland Beach                  91.833333
                     New Brighton                  101.800000
                     New Dorp                       57.000000
                     New Dorp Beach                 57.400000
                     New Springville                76.000000
                     Oakwood                        81.200000
                     Port Richmond                  90.111111
                     Prince's Bay                  409.500000
                     Randall Manor                 336.000000
                     Richmondtown                   78.000000
                     Rosebank                      111.857143
                     Rossville                      75.000000
                     Shore Acres                   152.714286
                     Silver Lake                    70.000000
                     South Beach                    89.250000
                     St. George                    118.145833
                     Stapleton                      98.962963
                     Todt Hill                     169.000000
                     Tompkinsville                  76.190476
                     Tottenville                   144.857143
                     West Brighton                  80.555556
                     Westerleigh                    71.500000
                     Willowbrook                   249.000000
                     Woodrow                       700.000000
Name: price, dtype: float64

The next cell will select the highest mean price in each borough.

In [94]:
means_dataframe=pd.DataFrame(neighborhood_means) #new dataframe made to hold the above
means_reset_index=means_dataframe.reset_index() #resetting the index
max_indices=means_reset_index.groupby('neighbourhood_group').price.idxmax() #selecting the indices of the max prices
means_reset_index.iloc[max_indices]

    neighbourhood_group   neighbourhood       price
34                Bronx       Riverdale  442.090909
88             Brooklyn        Sea Gate  487.857143
121           Manhattan         Tribeca  490.638418
163              Queens        Neponsit  274.666667
188       Staten Island  Fort Wadsworth  800.000000

This information can give a person a good idea as to what area would fit their budget if they were planning a stay in the city. It might also give clues as to which areas have higher or lower costs of living if they were planning a move. Of course, this information may be out of date due to the events of the pandemic, but the same should apply if newer data is analyzed.

##Question 2: Which host was the most reviewed?
This question is less involved than the previous one. We can group by "host_id" and sum up the number of reviews. The below cell shows the top 25 hosts by number of reviews on their properties. Although this dataset doesn't contain ratings for each property, this information can be useful for a potential customer deciding which property to stay at if they can navigate to it using the website.

In [95]:
popular_hosts=data.groupby('host_id').number_of_reviews.sum().sort_values(ascending=False)
popular_hosts[:25]

host_id
37312959     2273
344035       2205
26432133     2017
35524316     1971
40176101     1818
4734398      1798
16677326     1355
6885157      1346
219517861    1281
23591164     1269
59529529     1229
47621202     1205
22959695     1157
58391491     1154
21641206     1062
137814       1059
156948703    1052
156684502    1046
3441272      1013
7831209       970
2680820       959
50600973      949
417504        935
303939        915
22384027      902
Name: number_of_reviews, dtype: int64

##Question 3: Which accomodation type was the most popular?
The accomodation types include "Entire home/apt", "Private room", and "Shared room." One way to guess at this question is to see which type had the highest average number of reviews. The "reviews per month" data may also be useful for this purpose.

In [103]:
print(data.groupby('room_type').number_of_reviews.mean().sort_values(ascending=False))
print('\n')
print(data.groupby('room_type').reviews_per_month.mean().sort_values(ascending=False))
print('\n')
print(data.groupby('room_type').number_of_reviews.apply(sum).sort_values(ascending=False))

room_type
Private room       24.105883
Entire home/apt    22.847459
Shared room        16.622625
Name: number_of_reviews, dtype: float64


room_type
Shared room        1.474775
Private room       1.444981
Entire home/apt    1.306754
Name: reviews_per_month, dtype: float64


room_type
Entire home/apt    580394
Private room       537971
Shared room         19249
Name: number_of_reviews, dtype: int64

It appears that the private room had the highest average number of reviews, while the shared room had the highest number of reviews per month. However, if we look at the sum of the number of reviewes for each category, we can see that the shared room was reviewed very seldom by comparison. This implies that the entire home/apt and the private room were most popular, however without actual booking transaction data we can only make an educated guess.